html,
body {
  padding: 0;
  margin: 0;
}
#map-id {
  height: 550px !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend { 
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .low {
  color: #ec8a2e;
}

.legend .empty {
  color: #a0353a;
}

.legend .coming-soon {
  color: #f4ba48;
}

.legend .healthy {
  color: #1b904f;
}

.legend .out-of-order {
  color: #007dff;
}

.table td {
  text-align: center;   
}

tbody tr td, h3 {
  margin: 0 !important;
  padding: 0 !important;
}

table.table tbody tr td:nth-child(odd) {
  border-right: 0.5px solid lightgrey;
}

#classic {
  font-weight: 700;
  font-size: 22px;
}

#electric {
  font-weight: 700;
  font-size: 22px;
}

img {
  border-radius: 3px;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100%; 
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}


.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  background-color: grey !important;
  border: none;
  margin-right: 1rem !important;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

nav {
  background-color: #fff !important;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.navbar-brand {
  color: #555555 !important;
  margin: 0 auto !important;
}

.image-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

canvas {
  height: 260px !important;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
  border-radius: 3px;
}


@media only screen and (max-width: 768px) {
  .btn {
    margin-top: 0.5rem !important;
    margin-right: 0rem !important;
  }
}